@import "tailwindcss";
@config "../../tailwind.config.js" ; 


:root {
  --c-background: #ffffff;
  --c-foreground: #171717;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --c-background: #0a0a0a;
    --c-foreground: #ededed;
  }
}

body {
  width: 100vw !important;
  max-width: 100vw !important;
  overflow-x: hidden !important;
  background: var(--c-background);
  color: var(--c-foreground);
  font-family: "Nunito", sans-serif;
}

/* fonts */
.font-inter {
  /* from 100 to 900 */
  font-family: "Inter", sans-serif;
}
.font-port-lligat-sans-regular {
  /* only 400 weight */
  font-family: "Port Lligat Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-rubik-puddles-regular {
  /* only 400 weight */
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
  /* 100 to 900 weight */
  font-family: "Roboto", sans-serif;
}
.font-gabriela-regular {
  /* only 400 weight */
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

.font-nunito-sans {
  /* 200 to 1000 weight */
  font-family: "Nunito Sans", sans-serif;
}
.font-lato {
  /* 100 to 900 weight */
  font-family: "Lato", sans-serif;
}

.font-fredoka {
  /* font weight from 300 to 700  */
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
}

.font-quicksand {
  /* 300 to 700 font weight */
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
}

.font-nunito {
  /* 200 to 1000 */
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
}

.font-manrope {
  /* 200 to 800 font weight */
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

* {
  transition: background-color 0.2s ease, border-color 0.2s ease;
}